# Ignore uploads (media files)
uploads/
upgrade/

# Ignore cache, backup
cache/
backups/

# Ignore common system files
*.log
.DS_Store
Thumbs.db

# Ignore dependency directories (for example, if using npm or
plugins)
node_modules/
dist/
build/

themes/twenty*/